<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form method="post" action="{% url 'user_login' %}">
        {% csrf_token %}
        <p>Username: <input type="text" name='username'></p>
        <p>Password: <input type="Password" name='password'></p>
        <button type="submit">Login</button>
    </form>
    <a href="{%url 'user_registration'%}">Register</a>
</body>
</html>